/* Reset and base styles */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header background with overlay */
header {
    background-color: rgba(228, 226, 226, 0.605);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    /* color: white; */
}

.jordan img{
    margin: 0px;
    float: left;
    width:  26px;
    height: 25px;
    margin-top: 6px;
    margin-left: 45px;
}
/* Logo */
.logo img{
    margin: 0px;
    float: left;
    width:  58px;
    height: 22px;
    margin-top: 20px;
    margin-left: 45px;
}

/* First Nav Bar (Top Right) */
.main1 {
    font-size:12px;
    display: flex;
    justify-content: flex-end;
    padding: 12px 60px;
    /* background-color: rgba(228, 226, 226, 0.297); */
    height: 38px;
    font-weight:500px;
}

.main1 ul {
    list-style: none;
    display: flex;
    gap: 2px;
    color: black;
}

.main1 ul li {
    position: relative;
}

/* Second Nav Bar (Centered Below First) */
.main2 {
    background-color: white;
}
.main2 ul{
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    background-color: rgb(255, 255, 255);
    height: 60px;
    font-weight:600;
}

.main2 ul {
    list-style: none;
    display: flex;
    gap: 8px;
   
}

.main2 ul li {
    position: inline;
}

/* Link styling */
ul li a {
    text-decoration: none;
    color: black;
    padding: 6px 12px;
    transition: all 0.3s ease;
    border-radius: 4px;
}

.main1 ul li a:hover{
/* .main1 ul li.active a  */
    /* background-color:white; */
    /* font-stretch: condensed; */
    text-emphasis: dull;
    color: black;
}
.main2 ul li a:hover,
.main2 ul li.active a {
    /* background-color: rgba(228, 226, 226, 0.461);; */
    text-decoration: underline ;
    color: black;
}

/* Title styling */
.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title h1 {
    font-size: 100px;
    color: black;
    font-style: italic;
    font-weight:900;
}

/* Button section */
.button {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    /* gap: 20px; */
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    border: 5px solid black;
    padding: 3px 20px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    transition: all 0.3s ease;
    border-radius: 70px;
    background-color: black;
    font-weight: bold;
}

/* .btn:hover {
    background-color:black;
    color: white;
    border-radius: 10px;
} */

